{% load staticfiles %}
<script src="{% static "lib/jquery-1.12.0.min.js" %}"></script>
<script src="{% static "lib/vis/vis.js" %}"></script>
<script src="{% static "lib/bootstrap.min.js" %}" crossorigin="anonymous"></script>
<link href="{% static "lib/vis/vis.css" %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="{% static "lib/bootstrap.min.css" %}" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "lib/bootstrap-theme.min.css" %}" crossorigin="anonymous">
<link rel="stylesheet" href="{% static "configurator/style.css" %}"/>

<script type="text/javascript">

    /* GLOBALS */
    var nodes, edges, network;

    function color_nodes(items) {
        var colors = {
            router: {
                border: '#2B7CE9',
                background: '#D2E5FF'
            },
            client: {
                border: 'lightgray',
                background: 'lightgray',
                highlight: {
                    border: 'gray',
                    background: 'lightgray'
                }
            },
            lan: 'white'
        };
        items.forEach(function (id) {
            var node = nodes.get(id);
            if (!node.color) {
                node['color'] = colors[node.properties.type];
                nodes.update(node)
            }
        });
    }

    function getRouters() {
        var routers = [];
        var tmpNodes = nodes.get();
        for (var node in tmpNodes) {
            if (tmpNodes[node].properties.type === 'router') {
                routers.push(tmpNodes[node].id);
            }
        }
        return routers;
    }

    function getClients() {
        var clients = [];
        var tmpNodes = nodes.get();
        for (var node in tmpNodes) {
            if (tmpNodes[node].properties.type === 'client') {
                clients.push(tmpNodes[node].id);
            }
        }
        return clients;
    }

    function getLans() {
        var lans = [];
        var tmpNodes = nodes.get();
        for (var node in tmpNodes) {
            if (tmpNodes[node].properties.type === 'lan') {
                lans.push(tmpNodes[node].id);
            }
        }
        return lans;
    }

    function getAllLinksConnectedToNode(nodeId) {
        var links = [];
        var allEdges = edges.get();
        for (var edge in allEdges) {
            if (allEdges[edge].from == nodeId || allEdges[edge].to == nodeId) {
                links.push(allEdges[edge].id);
            }
        }
        return links;
    }

    function getAllRoutersIPConnectedToLan(lanID) {
        var ips = [];
        var allEdges = edges.get();
        for (var edge in allEdges) {
            if (allEdges[edge].to == lanID && allEdges[edge].properties.type == 'router') {
                ips.push(allEdges[edge].properties.ip);
            }
        }
        return ips;
    }

    function setSelectionGateways(){
        var ips = getAllRoutersIPConnectedToLan($('#clientEdgeTo').val());
        $('#clientEdgeGateway').empty();
        $('#clientEdgeGateway').append('<option value="" default disabled selected>Select gateway</option.');
        $(ips).each(function (i, v) {
            $('#clientEdgeGateway').append($("<option>", {value: v, html: v}));
        });
    }

    function setSelectionsRouterLan() {
        var routers = getRouters();
        var lans = getLans();
        $('#routerEdgeIP').empty();
        $('#routerEdgeID').empty();
        $('#routerEdgeFrom').empty();
        $('#routerEdgeTo').empty();
        $(routers).each(function (i, v) {
            $('#routerEdgeFrom').append($("<option>", {value: v, html: v}));
        });

        $(lans).each(function (i, v) {
            $('#routerEdgeTo').append($("<option>", {value: v, html: v}));
        });
    }

    function setSelectionsClientLan() {
        var clients = getClients();
        var lans = getLans();
        $('#clientEdgeID').empty();
        $('#clientEdgeIP').empty();
        $('#clientEdgeGateway').empty();
        $('#clientEdgeFrom').empty();
        $('#clientEdgeTo').empty();
        $(clients).each(function (i, v) {
            $('#clientEdgeFrom').append($("<option>", {value: v, html: v}));
        });

        $(lans).each(function (i, v) {
            $('#clientEdgeTo').append($("<option>", {value: v, html: v}));
        });


    }

    function validateModal(modalID) {
        return $(modalID).find(':invalid').length === 0;
    }

    function getUsedIPs(){
        var usedIPs = {};
        var tmpEdges = edges.get();
        for (var edge in tmpEdges) {
            usedIPs[tmpEdges[edge].properties.ip] = true;
        }
        return usedIPs;
    }

    function getSubnetIP(subnet) {
        splitted = subnet.split('/');
        return binToNum(calcNetBinAddress(ipNumToBinaryStr(ipAddressToNumber(splitted[0])), maskToBinaryStr(splitted[1])) );
    }

    function getSubnetIPWithMaskString(subnet) {
        var mask = subnet.split('/')[1];
        var subnetAddNumber = getSubnetIP(subnet);
        return numToIp(subnetAddNumber)+'/'+mask;
    }

    function getFirstFreeIpInGivenSubnet(subnetAddrNumber){
        subnetAddrNumber += 2;
        var usedIPs = getUsedIPs();
        while(usedIPs[numToIp(subnetAddrNumber)]){
            subnetAddrNumber +=1;
        }
        return numToIp(subnetAddrNumber);

    }

    function ipNumToBinaryStr(ipNumber) {
        var numStr = ipNumber.toString(2);
        var numZeros = 32 - numStr.length;
        if (numZeros > 0){
        	for (var i = 1; i <= numZeros; i++){
        	    numStr = "0" + numStr;
        	}
        }
        return numStr;
    }

    function binToNum(binaryString) {
        return parseInt(binaryString, 2);
    }

    function ipAddressToNumber(ip) {
        var d = ip.split('.');
        return ((((((+d[0])*256)+(+d[1]))*256)+(+d[2]))*256)+(+d[3]);
    }

    function calcNetBinAddress(addressBinStr, netmaskBinStr) {
        var netaddressBinStr = '';
        var addressBit = 0;
        var netmaskBit = 0;
        for( pos = 0; pos < 32; pos ++ ) {
            addressBit = addressBinStr.substr( pos, 1 );
            netmaskBit = netmaskBinStr.substr( pos, 1 );
            if( addressBit == netmaskBit ) {
            	netaddressBinStr += addressBit.toString();
            }
            else{
            	netaddressBinStr += '0';
            }
        }
        return netaddressBinStr;
    }

    function maskToBinaryStr( maskBitsNumber ) {
        var bitString = '';
        var numberOfOnes = maskBitsNumber;
        while( numberOfOnes-- ){
            bitString += '1';
        }
        numberOfZeros = 32 - maskBitsNumber;
        while( numberOfZeros-- ) {
            bitString += '0';
        }
        return bitString;
    }


    function numToIp(number) {
        var ip=number%256;
        for (var i=1;i<=3;i++)
        {
            number=Math.floor(number/256);
            ip=number%256+'.'+ip;
        }
        return ip; // As string
    }

    var ip2long = function(ip){
        var components;

        if(components = ip.match(/^(\d{1,3})\.(\d{1,3})\.(\d{1,3})\.(\d{1,3})$/))
        {
            var iplong = 0;
            var power  = 1;
            for(var i=4; i>=1; i-=1)
            {
                iplong += power * parseInt(components[i]);
                power  *= 256;
            }
            return iplong;
        }
        else return -1;
    };


    function inSubNet(ip, subnet)
    {
        subnet = getSubnetIPWithMaskString(subnet);
        var mask, base_ip, long_ip = ip2long(ip);
        if( (mask = subnet.match(/^(.*?)\/(\d{1,2})$/)) && ((base_ip=ip2long(mask[1])) >= 0) )
        {
            var freedom = Math.pow(2, 32 - parseInt(mask[2]));
            return (long_ip > base_ip) && (long_ip < base_ip + freedom - 1);
        }
        else return false;
    };

    function isIPAlreadyUsed(routerIP){
        return getUsedIPs()[routerIP];
    }

    function validateRouterIP(lanID, routerIP){
        if(isIPAlreadyUsed(routerIP)){
            $('#routerEdgeIP').attr("placeholder", "IP: " + routerIP + " is already used.").val('');
            return;
        }
        var lanSubnet = nodes.get(lanID).properties.subnet;
        if(!inSubNet(routerIP,lanSubnet)){
          $('#routerEdgeIP').attr("placeholder", "IP: " + routerIP + " doesn't belong to subnet: " + lanSubnet).val('');
          return;
        }
        if(numToIp(getSubnetIP(lanSubnet)+1) == routerIP){
            $('#routerEdgeIP').attr("placeholder", "First IP in given subnet: " + lanSubnet + " is not allowed. Try another one.").val('');
            return;
        }
    }

     function validateClientIP(lanID, clientIP){
        if(isClientEdgeHasChanged($('#clientEdgeID').val())){
            if(isIPAlreadyUsed(clientIP)){
               $('#clientEdgeIP').attr("placeholder", "IP: " + clientIP + " is already used.").val('');
                return;
            }
            var lanSubnet = nodes.get(lanID).properties.subnet;
            if(!inSubNet(clientIP,lanSubnet)){
              $('#clientEdgeIP').attr("placeholder", "IP: " + clientIP + " doesn't belong to subnet: " + lanSubnet).val('');
              return;
            }
            if(numToIp(getSubnetIP(lanSubnet)+1) == clientIP){
                $('#clientEdgeIP').attr("placeholder", "First IP in given subnet: " + lanSubnet + " is not allowed. Try another one.").val('');
                return;
            }
        }
        if($('#clientEdgeGateway').val() ==''){
            $('#clientEdgeGateway').attr("placeholder", "Gateway must be specified. If there is no option, create router-lan link first.")
        }
     }

    function isRouterEdgeHasChanged(routerEdgeId){
        var edge = edges.get(routerEdgeId);
        if(edge != null){
            return !(edge.to == $('#routerEdgeTo').val() && edge.from == $('#routerEdgeFrom').val() && edge.properties.ip == $('#routerEdgeIP').val());
        }
        return true;
    }

    function isClientEdgeHasChanged(clientEdgeId){
        var edge = edges.get(clientEdgeId);
        if(edge != null){
            return !(edge.to == $('#clientEdgeTo').val() && edge.from == $('#clientEdgeFrom').val() && edge.properties.ip == $('#clientEdgeIP').val());
        }
        return true;
    }


    function draw() {

        {% include "initial_data.js" %}

        // create an array with nodes
        nodes = new vis.DataSet();
        nodes.on('*', function (kind, event) {
            if (kind != 'remove') {
                color_nodes(event.items);
            }
        });
        nodes.add(initial_nodes);


        // create an array with edges
        edges = new vis.DataSet();
        edges.add(initial_edges);

        // create a network
        var container = document.getElementById('network');
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {
            "physics": false,
            "edges": {
                "smooth": {
                    "type": "discrete"
                }
            }
        };
        network = new vis.Network(container, data, options);

        network.on("doubleClick", function (params) {
            if (params.nodes[0]) {
                var node = nodes.get(params.nodes[0]);
                if (node.properties.type === 'client') {
                    $('#clientNodeID').val(node.id);
                    $('#clientNodeLabel').val(node.label);
                    $('#clientNodeModal').modal('show')
                } else if (node.properties.type === 'lan') {
                    $('#lanNodeID').val(node.id);
                    $('#lanNodeSubnet').val(node.properties.subnet);
                    $('#lanNodeModal').modal('show')
                } else {
                    $('#routerNodeID').val(node.id);
                    $('#routerNodeModal').modal('show')
                }
            } else if (params.edges[0]) {
                var edge = edges.get(params.edges[0]);
                if (edge.properties.type === 'client') {
                    setSelectionsClientLan();
                    $('#clientEdgeID').val(edge.id);
                    $('#clientEdgeFrom').val(edge.from);
                    $('#clientEdgeTo').val(edge.to);
                    setSelectionGateways();
                    $('#clientEdgeIP').val(edge.properties.ip);
                    $('#clientEdgeGateway').val(edge.properties.gateway);
                    $('#clientEdgeModal').modal('show')
                } else {
                    setSelectionsRouterLan();
                    $('#routerEdgeID').val(edge.id);
                    $('#routerEdgeFrom').val(edge.from);
                    $('#routerEdgeTo').val(edge.to);
                    $('#routerEdgeIP').val(edge.properties.ip);
                    $('#routerEdgeModal').modal('show')
                }
            }
        });
    }

    $(document).ready(draw);
    $(document).ready(function () {

        $('#routerEdgeModal').on('show.bs.modal', function () {
            var idField = $('#routerEdgeID');
            idField.val(idField.val() || Math.random().toString(36));
        });

        $('#clientEdgeModal').on('show.bs.modal', function () {
            var idField = $('#clientEdgeID');
            idField.val(idField.val() || Math.random().toString(36));
        });

        $('#routerLinkCreate').click(function () {
            $('#routerEdgeModal input').val('');
            setSelectionsRouterLan();
            $('#routerEdgeTo').trigger("change");
            $('#routerEdgeModal').modal('show');
        });

        $('#clientLinkCreate').click(function () {
            $('#clientEdgeModal input').val('');
            setSelectionsClientLan();
            $('#clientEdgeTo').trigger("change");
            $('#clientEdgeModal').modal('show');
        });

        $('#lanNodeDelete').click(function () {
            var lanNodeId = $('#lanNodeID').val();
            var linksToRemove = getAllLinksConnectedToNode(lanNodeId);
            for (var i in linksToRemove) {
                edges.remove(linksToRemove[i]);
                console.log('Link removed: ' + linksToRemove[i]);
            }
            nodes.remove(lanNodeId);
            console.log('Node removed: ' + lanNodeId);

            $('#lanNodeModal').modal('hide');
        });

        $('#clientNodeDelete').click(function () {
            var clientNodeId = $('#clientNodeID').val();
            var linksToRemove = getAllLinksConnectedToNode(clientNodeId);
            for (var i in linksToRemove) {
                edges.remove(linksToRemove[i]);
                console.log('Link removed: ' + linksToRemove[i]);
            }
            nodes.remove(clientNodeId);
            console.log('Node removed: ' + clientNodeId);
            $('#clientNodeModal').modal('hide');
        });

        $('#routerNodeDelete').click(function () {
            var routerNodeId = $('#routerNodeID').val();
            var linksToRemove = getAllLinksConnectedToNode(routerNodeId);
            for (var i in linksToRemove) {
                edges.remove(linksToRemove[i]);
                console.log('Link removed: ' + linksToRemove[i]);
            }
            nodes.remove(routerNodeId);
            console.log('Node removed: ' + routerNodeId);
            $('#routerNodeModal').modal('hide');
        });

        $('#clientEdgeDelete').click(function () {
            edges.remove($('#clientEdgeID').val());
            $('#clientEdgeModal').modal('hide');
        });

        $('#routerEdgeDelete').click(function () {
            edges.remove($('#routerEdgeID').val());
            $('#routerEdgeModal').modal('hide');
        });

        $('#lanNodeSave').click(function () {
            if (validateModal('#lanNodeModal')) {
                nodes.update({
                    id: $('#lanNodeID').val(),
                    label: $('#lanNodeID').val(),
                    properties: {
                        subnet: getSubnetIPWithMaskString($('#lanNodeSubnet').val()),
                        type: "lan"
                    }
                });
                $('#lanNodeModal').modal('hide');
            }


        });

        $('#clientNodeSave').click(function () {
            if (validateModal('#clientNodeModal')) {
                nodes.update({
                    id: $('#clientNodeID').val(),
                    label: $('#clientNodeID').val(),
                    properties: {
                        type: "client"
                    }
                });
                $('#clientNodeModal').modal('hide');
            }
        });

        $('#routerNodeSave').click(function () {
            if (validateModal('#routerNodeModal')) {
                nodes.update({
                    id: $('#routerNodeID').val(),
                    label: $('#routerNodeID').val(),
                    properties: {
                        type: "router"
                    }
                });
                $('#routerNodeModal').modal('hide');
            }
        });

        $('#routerEdgeSave').click(function () {
            if(isRouterEdgeHasChanged($('#routerEdgeID').val())){
                validateRouterIP($('#routerEdgeTo').val(), $('#routerEdgeIP').val());
                if (validateModal('#routerEdgeModal')) {
                       edges.update({
                       id: $('#routerEdgeID').val(),
                       from: $('#routerEdgeFrom').val(),
                       to: $('#routerEdgeTo').val(),
                       properties: {
                            ip: $('#routerEdgeIP').val(),
                            type: "router"
                            }
                       });
                       $('#routerEdgeModal').modal('hide');
                }
            }
            else{
                $('#routerEdgeModal').modal('hide');
            }
        });

        $('#routerEdgeTo').change(function(){
            var subnet = nodes.get($('#routerEdgeTo').val()).properties.subnet;
            $('#routerEdgeIP').val(getFirstFreeIpInGivenSubnet(getSubnetIP(subnet)));
        });


        $('#clientEdgeSave').click(function () {
                validateClientIP($('#clientEdgeTo').val(), $('#clientEdgeIP').val());
                if (validateModal('#clientEdgeModal')) {
                    edges.update({
                        id: $('#clientEdgeID').val(),
                        from: $('#clientEdgeFrom').val(),
                        to: $('#clientEdgeTo').val(),
                        properties: {
                            gateway: $('#clientEdgeGateway').val(),
                            ip: $('#clientEdgeIP').val(),
                            type: "client"
                        }
                    });
                    $('#clientEdgeModal').modal('hide');
                }

        });

        $('#clientEdgeTo').change(function(){
            var subnet = nodes.get($('#clientEdgeTo').val()).properties.subnet;
            $('#clientEdgeIP').val(getFirstFreeIpInGivenSubnet(getSubnetIP(subnet)));
            setSelectionGateways();
        });


        function getData() {
            return {
                csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val(),
                nodes: JSON.stringify(nodes.get()),
                edges: JSON.stringify(edges.get())
            }
        }

        function showActionResult(element, text, icon, isError) {
            var style = isError ? 'color:red' : '';
            element.popover({
                html: true,
                content: '<div style="white-space: nowrap; ' + style + '">' +
                '<span class="glyphicon ' + icon + '" style="font-size:1.3em"></span> ' +
                text +
                '</div>',
                placement: "bottom",
                trigger: "manual"
            }).popover('show');
            setTimeout($().popover.bind(element, 'hide'), 1800)
        }

        $("#generate").click(function () {
            $.post({
                url: "configurator/generate",
                dataType: "json",
                data: getData(),
                error: function (error) {
                    showActionResult($("#generate"), error.statusText, 'glyphicon-floppy-remove', true);
                }
            }).done(function () {
                showActionResult($("#generate"), 'Your design has been updated', 'glyphicon-floppy-saved');
            })
        });
        $("#run").click(function () {
            $('#runModal').modal('show');
            $.post({
                url: "configurator/run",
                dataType: "json",
                data: getData(),
                error: function (error) {
                    $('#runModal').modal('hide');
                    showActionResult($("#run"), error.statusText, 'glyphicon-remove-sign', true);
                }
            }).done(function () {
                $('#runModal').modal('hide');
                showActionResult($("#run"), 'Your simulation is running', 'glyphicon-random');
            })
        });
        $("#stop").click(function () {
            $('#stopModal').modal('show');
            $.post({
                url: "configurator/stop",
                dataType: "json",
                data: {csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val()},
                error: function (error) {
                    $('#stopModal').modal('hide');
                    showActionResult($("#stop"), error.statusText, 'glyphicon-remove-sign', true);
                }
            }).done(function (result) {
                $('#stopModal').modal('hide');
                showActionResult($("#stop"), 'Your simulation has been stopped', 'glyphicon glyphicon-check');
            })
        });

        $("#get_design").click(function () {
            $.post({
                url: "configurator/generate",
                dataType: "json",
                data: getData(),
                error: function (error) {
                    showActionResult($("#get_design"), error.statusText, 'glyphicon-remove-sign', true);
                }
            }).done(function () {
                window.open('configurator/get_design', '_blank');
                showActionResult($("#get_design"), 'Your design has been prepared', 'glyphicon glyphicon-check');
            })
        });
        $("#get_project").click(function () {
            $.post({
                url: "configurator/generate",
                dataType: "json",
                data: getData(),
                error: function (error) {
                    showActionResult($("#get_project"), error.statusText, 'glyphicon-remove-sign', true);
                }
            }).done(function () {
                window.open('configurator/get_project', '_blank');
                showActionResult($("#get_project"), 'Your project files have been prepared', 'glyphicon glyphicon-check');
            })
        });
        $('#design_file').on('change', function () {
            var formData = new FormData();
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            formData.append('design_file', $('#design_file')[0].files[0]);
            $.ajax({
                url: "configurator/set_design",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                error: function (error) {
                    showActionResult($("#design_file"), error.statusText, 'glyphicon-remove-sign', true);
                }
            }).done(function () {
                location.reload();
            });
        });

        $("#reset_design").click(function () {
            $.post({
                url: "configurator/reset_design",
                data: {
                    csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val()
                },
                error: function (error) {
                    $('#stopModal').modal('hide');
                    showActionResult($("#reset_design"), error.statusText, 'glyphicon-remove-sign', true);
                }
            }).done(function () {
                location.reload();
            });
        });

        if ('{{ error }}') {
            showActionResult($(".navbar"), '{{ error }}', 'glyphicon-remove-sign', true);
        }
    })


</script>

<div class="modal" id="runModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Run your configuration</h4>
            </div>
            <div class="modal-body">
                <div id="runProgress" class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        Working..
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="stopModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Stopping running containers</h4>
            </div>
            <div class="modal-body">
                <div id="runProgress" class="progress">
                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        Working..
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-default">
    {% csrf_token %}
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a id="generate" href="#">Save design</a></li>
                <li><a id="get_design" href="#">Get design</a></li>
                <li>
                    <a id="set_design" href="#" onclick="$('#design_file').click()">Set design</a>
                    <input type="file" name="design_file" id="design_file" style="display: none"/>
                </li>
                <li><a id="reset_design" href="#">Reset design</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Add<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#routerNodeModal">router</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#clientNodeModal">client</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#lanNodeModal">lan</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a id="routerLinkCreate" href="#">router link</a></li>
                        <li><a id="clientLinkCreate" href="#">client link</a></li>
                    </ul>
                <li><a id="get_project" href="#">Get project</a></li>
                <li><a id="run" href="#">Run project</a></li>
                <li><a id="stop" href="#">Stop running</a></li>
            </ul>
        </div>
    </div>
</nav>

{% include "modals.html" %}
<div id="network" style="height: 800px"></div>



