{% load staticfiles %}
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="{% static "lib/vis/vis.js" %}"></script>
<link rel="stylesheet" href="{% static "configurator/style.css" %}"/>
<link href="{% static "lib/vis/vis.css" %}" rel="stylesheet" type="text/css"/>


<style type="text/css">
    html, body {
        font: 11pt arial;
    }

    h1 {
        font-size: 150%;
        margin: 5px 0;
    }

    h2 {
        font-size: 100%;
        margin: 5px 0;
    }

    table.view {
        width: 100%;
    }

    table td {
        vertical-align: top;
    }

    table table {
        background-color: #f5f5f5;
        border: 1px solid #e5e5e5;
    }

    table table td {
        vertical-align: middle;
    }

    input[type=text], pre {
        border: 1px solid lightgray;
    }

    pre {
        margin: 0;
        padding: 5px;
        font-size: 10pt;
    }

    #network {
        width: 100%;
        height: 400px;
        border: 1px solid lightgray;
    }
</style>


<script type="text/javascript">
    var nodes, edges, network;

    // convenience method to stringify a JSON object
    function toJSON(obj) {
        return JSON.stringify(obj, null, 4);
    }

    function addNode() {
        try {
            nodes.add({
                id: document.getElementById('node-id').value,
                label: document.getElementById('node-label').value
            });
        }
        catch (err) {
            alert(err);
        }
    }

    function updateNode() {
        try {
            nodes.update({
                id: document.getElementById('node-id').value,
                label: document.getElementById('node-label').value
            });
        }
        catch (err) {
            alert(err);
        }
    }
    function removeNode() {
        try {
            nodes.remove({id: document.getElementById('node-id').value});
        }
        catch (err) {
            alert(err);
        }
    }

    function addEdge() {
        try {
            edges.add({
                id: document.getElementById('edge-id').value,
                from: document.getElementById('edge-from').value,
                to: document.getElementById('edge-to').value
            });
        }
        catch (err) {
            alert(err);
        }
    }
    function updateEdge() {
        try {
            edges.update({
                id: document.getElementById('edge-id').value,
                from: document.getElementById('edge-from').value,
                to: document.getElementById('edge-to').value
            });
        }
        catch (err) {
            alert(err);
        }
    }
    function removeEdge() {
        try {
            edges.remove({id: document.getElementById('edge-id').value});
        }
        catch (err) {
            alert(err);
        }
    }

    function draw() {
        // create an array with nodes
        nodes = new vis.DataSet();
        nodes.on('*', function () {
            document.getElementById('nodes').innerHTML = JSON.stringify(nodes.get(), null, 4);
        });
        nodes.add([
            {
                id: 'client-1',
                label: 'client-1',
                properties: {
                    type: 'client',
                    'network': 'lan10',
                    'ip': '10.1.0.44',
                    'gateway': '10.1.0.101'
                },
                color: 'lightgray'
            },
            {
                id: 'client-2',
                label: 'client-2',
                properties: {
                    type: 'client',
                    'network': 'lan9',
                    'ip': '9.1.0.44',
                    'gateway': '9.1.0.102'
                },
                color: 'lightgray'
            },
            {
                id: 'router-1',
                label: 'router-1',
                properties: {
                    type: 'router'
                }
            },
            {
                id: 'router-2',
                label: 'router-2',
                properties: {
                    type: 'router'
                }
            },
            {
                id: 'lan10',
                label: 'lan10',
                properties: {
                    type: 'lan',
                    subnet: '10.1.0.0/16'
                },
                color: 'white'
            },
            {
                id: 'lan9',
                label: 'lan9',
                properties: {
                    type: 'lan',
                    subnet: '9.1.0.0/16'
                },
                color: 'white'
            },
            {
                id: 'lan8',
                label: 'lan8',
                properties: {
                    type: 'lan',
                    subnet: '8.1.0.0/16'
                },
                color: 'white'
            },
            {
                id: 'lan7',
                label: 'lan7',
                properties: {
                    type: 'lan',
                    subnet: '7.1.0.0/16'
                },
                color: 'white'
            },
        ]);

        // create an array with edges
        edges = new vis.DataSet();
        edges.on('*', function () {
            document.getElementById('edges').innerHTML = JSON.stringify(edges.get(), null, 4);
        });
        edges.add([
            {
                id: 'client-1/lan10',
                from: 'client-1',
                to: 'lan10',
                properties: {
                    type: 'client',
                    'ip': '10.1.0.44',
                    'gateway': '10.1.0.101'
                }
            },
            {
                id: 'client-2/lan10',
                from: 'client-2',
                to: 'lan9',
                properties: {
                    type: 'client',
                    'ip': '9.1.0.44',
                    'gateway': '9.1.0.102'
                }
            },
            {
                id: 'router-1/lan10',
                from: 'router-1',
                to: 'lan10',
                properties: {
                    type: 'router',
                    'ip': '10.1.0.101'
                }
            },
            {
                id: 'router-1/lan8',
                from: 'router-1',
                to: 'lan8',
                properties: {
                    type: 'router',
                    'ip': '8.1.0.101'
                }
            },
            {
                id: 'router-1/lan7',
                from: 'router-1',
                to: 'lan7',
                properties: {
                    type: 'router',
                    'ip': '7.1.0.101'
                }
            },
            {
                id: 'router-2/lan9',
                from: 'router-2',
                to: 'lan9',
                properties: {
                    type: 'router',
                    'ip': '9.1.0.102'
                }
            },
            {
                id: 'router-2/lan8',
                from: 'router-2',
                to: 'lan8',
                properties: {
                    type: 'router',
                    'ip': '8.1.0.102'
                }
            },
            {
                id: 'router-2/lan7',
                from: 'router-2',
                to: 'lan7',
                properties: {
                    type: 'router',
                    'ip': '7.1.0.102'
                }
            },
        ]);

        // create a network
        var container = document.getElementById('network');
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {};
        network = new vis.Network(container, data, options);

    }

    $(document).ready(draw)
</script>

<p>
    This example demonstrates dynamically adding, updating and removing nodes
    and edges using a DataSet.
</p>

<h1>Adjust</h1>
<table>
    <tr>
        <td>
            <h2>Node</h2>
            <table>
                <tr>
                    <td></td>
                    <td><label for="node-id">Id</label></td>
                    <td><input id="node-id" type="text" value="client-3"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label for="node-label">Label</label></td>
                    <td><input id="node-label" type="text" value="client-3"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Action</td>
                    <td>
                        <button id="node-add" onclick="addNode();">Add</button>
                        <button id="node-update" onclick="updateNode();">Update</button>
                        <button id="node-remove" onclick="removeNode();">Remove</button>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <h2>Edge</h2>
            <table>
                <tr>
                    <td></td>
                    <td><label for="edge-id">Id</label></td>
                    <td><input id="edge-id" type="text" value="client-1/lan9"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label for="edge-from">From</label></td>
                    <td><input id="edge-from" type="text" value="client-1"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><label for="edge-to">To</label></td>
                    <td><input id="edge-to" type="text" value="lan9"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Action</td>
                    <td>
                        <button id="edge-add" onclick="addEdge();">Add</button>
                        <button id="edge-update" onclick="updateEdge();">Update</button>
                        <button id="edge-remove" onclick="removeEdge();">Remove</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>

<h1>View</h1>
<table class="view">
    <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="50%">
    </colgroup>
    <tr>
        <td>
            <h2>Nodes</h2>
            <pre id="nodes"></pre>
        </td>

        <td>
            <h2>Edges</h2>
            <pre id="edges"></pre>
        </td>

        <td>
            <h2>Network</h2>

            <div id="network"></div>
        </td>
    </tr>
</table>

